@use "./variables" as *;

header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 80px;
        }

        .nav-link {
            color: $text-color-primary;
            position: relative;
            border-radius: 0;
            font-size: .8rem;
            font-weight: bold;

            &.active {
                color: $color-primary;
                font-weight: bold;
                background-color: transparent;
                border-bottom: 5px solid $color-primary;
            }
        }
    }
}