@use "./variables" as *;
.lower-navbar {
.my-navbar {
    background-color: $color-primary;

    ul {
        display: flex;
        justify-content: space-around;
    }
}

img {
    height: 60px;
    max-width: 75px;
    padding-right: 10px;
}

a {
    color: $text-color-secondary;
    text-decoration: none;
    font-weight: bold;
    font-size: .8rem;
}
}