.image-container {
    position: absolute;
    bottom: 41%;
    left: 15%;

    img {
        height: 250px;
    }
}

.blue-bar {
    height: 60px;
}

// .img-show {
//     height: 200px;
//     position: absolute;
//     bottom: 60px;
//     left: 300px;
// }

// .show-container {
//     height: 400px;
// }



// .info-container {
//     width: 600px;
//     margin: 0 auto;
// }

// .price-bar {
//     height: 50px;
// }

// .footer-info {
//     background-color: lightgray;
// }